## Functions

In [2]:
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [3]:
my_function(5, 6, z=0.7)

0.06363636363636363

In [4]:
my_function(3.14, 7, 3.5)

35.49

In [5]:
my_function(10, 20)

45.0

In [6]:
my_function(x=5, y=6, z=7)

77

In [7]:
my_function(y=6, x=5, z=7)

77

In [20]:
# Namespaces, Scope, and Local Functions
def func():
    a = []
    for i in range(5):
        a.append(i)

In [21]:
a = []
def func():
    for i in range(5):
        a.append(i)

In [22]:
a = None

In [23]:
def bind_a_variable():
    global a
    a = []
    bind_a_variable()

In [24]:
print(a)

None

In [32]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

In [33]:
a, b, c = f()

In [34]:
print(f())

(5, 6, 7)

In [35]:
# Returning Multiple Values
def f():
    a = 5
    b = 6
    c = 7
    return {'a' : a, 'b' : b, 'c' : c}

In [36]:
a, b, c = f()
print(f())

{'a': 5, 'b': 6, 'c': 7}

In [38]:
# Functions Are Objects
states = [' Alabama ', 'Georgia!', 'Georgia', 'georgia',\
          'FlOrIda','south carolina##', 'West virginia?']

In [40]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [41]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [42]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

In [43]:
clean_ops = [str.strip, remove_punctuation, str.title]

In [45]:
def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [46]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [47]:
for x in map(remove_punctuation, states):
    print(x)

 Alabama
Georgia
Georgia
georgia
FlOrIda
south carolina
West virginia

In [48]:
# Anonymous (Lambda) Functions
def short_function(x):
    return x * 2


equiv_anon = lambda x: x * 2

In [49]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [50]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [51]:
strings.sort(key=lambda x: len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [53]:
# Currying: Partial Argument Application
def add_numbers(x, y):
    return x + y

In [58]:
add_five = lambda y: add_numbers(5, y)
add_five(5)

10

In [60]:
from functools import partial


add_five = partial(add_numbers, 5)
add_five(5)

10

In [61]:
# Generators

some_dict = {'a': 1, 'b': 2, 'c': 3}

for key in some_dict:
    print(key)

a
b
c

In [62]:
dict_iterator = iter(some_dict)
dict_iterator

In [63]:
list(dict_iterator)

['a', 'b', 'c']

In [86]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [87]:
gen = squares()

In [88]:
gen

In [89]:
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [108]:
gen = (x ** 2 for x in range(100))

In [109]:
gen

In [110]:
for x in gen:
    print(x, end=' ')

0 1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441 484 529 576 625 676 729 784 841 900 961 1024 1089 1156 1225 1296 1369 1444 1521 1600 1681 1764 1849 1936 2025 2116 2209 2304 2401 2500 2601 2704 2809 2916 3025 3136 3249 3364 3481 3600 3721 3844 3969 4096 4225 4356 4489 4624 4761 4900 5041 5184 5329 5476 5625 5776 5929 6084 6241 6400 6561 6724 6889 7056 7225 7396 7569 7744 7921 8100 8281 8464 8649 8836 9025 9216 9409 9604 9801

In [111]:
def _make_gen():
    for x in range(100):
        yield x ** 2
gen = _make_gen()

In [112]:
sum(x ** 2 for x in range(100))

328350

In [113]:
dict((i, i **2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [116]:
import itertools

In [117]:
first_letter = lambda x: x[0]

In [119]:
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

In [120]:
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [121]:
# Errors and Exception Handling

def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [122]:
attempt_float('1.2345')

1.2345

In [124]:
attempt_float('something')

'something'

In [127]:
# float((1, 2))

# ---------------------------------------------------------------------------
# TypeError                                 Traceback (most recent call last)
# Cell In[125], line 1
# ----> 1 float((1, 2))

# TypeError: float() argument must be a string or a real number, not 'tuple'

In [128]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [129]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x